.content{
   border: 0.05em solid;
    margin-top:3em;
}

.catcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    

}

.image {
    width: 50%;
    height: 30%;
    padding:1em;
    
    
}

.head h1 {
    text-align: center;
}
.catcontainer span {
    margin:1em auto;
    padding:2em;
    display: flex;
    align-items: center;
    text-align: center;
}