.content{
   border: 0.05em solid;
    margin-top:1em;
}

.catcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.image {
    width: 50%;
    height: 30%;
    padding:1em;
    margin: auto;

   
}

.head h1 {
    text-align: center;
}
.description {
    margin:0 auto;
    padding:2em;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}