.content {
    border: 0.05em solid;
    margin-top: 1em;
}

.foodcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

}

.image {
    width: 80%;
    height: 30%;
    padding: 1em;
}

.head {
    text-align: center;
}

.othername {
    text-align: center;

}

.othername * {
    margin: 0 20px 0;
}


.foodcontainer {
    margin: 1em 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: left;
}

.foodcats {
    margin: 1em;
    text-align: center;
}

.foodcats span {
    text-align: center;
    font-size: 1.2em;
}

.toCategory {
    margin: 0 20px 0;
    color: rgb(12, 89, 254);


}

.toCategory:hover {
    cursor: pointer;
    font-weight: 600;

}

.description {
    margin: 1em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    
    align-items: left;
    text-align: left;
}

.hidebutton {
    display: none;
}


.select {
    color: rgb(12, 89, 254);
    font-size: 1.25em;
    cursor: pointer;
    margin: 0.375em;
    display: inline-block;
    font-weight: 400;

}

.selected {
    font-weight: 800;
}

.similar {
    display: flex;
    justify-content: space-between;

}

.varwhole {
    background-color:#F2F2F2;
    padding:1em;
    margin-top: 3em;
    margin-bottom: 3em;

}

.varContainer {
    margin-left: 1em;
    margin-bottom: 2em;
    
}

.varname {
    margin-bottom:0.3em;
}
