.content{
   border: 0.05em solid;
    margin-top:1em;
}

.catcontainer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-bottom: 1em;
    text-align: left;


}

.image {
    width: 80%;
    height: 30%;
    padding:1em;
    margin: auto;
    
}

.head h1 {
    text-align: center;
}
.description {
    width: 80%;
    margin:auto;
    padding:1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}